@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #e1f0da;
  background-image: linear-gradient(to bottom right, #e1f0da, #d4e7c5);
  color: #294b29;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  height: 100dvh;
}
.container-fluid {
  text-align: left;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: #d4e7c5;
  border: 1px solid white;
  padding: 1rem;
}
.btn {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: #c7deb6;
  border: 1px solid #ffffff;
  color: #294b29;
}

.btn:hover {
  background-color: #294b29;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  font-size: 36px;
  color: #333;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #9db28d;
  top: 50%;
}

h1::before {
  left: 50px;
}

h1::after {
  right: 50px;
}

.form-text {
  color: #294b29;
}
.form-control {
  color: #294b29;
}
